*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

body{
    font-family: Inter, sans-serif;
}

header {
    padding: 15px 0;
    border-bottom: 1px solid #E2E8F0;
}

header .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .main h1.left a{
    font-size: 19px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #334155;
}

header .main nav.right ul{
    display: flex;
    align-items: center;
    gap: 24px;
}

header .main nav.right ul li img {
    width: 24px;
}

header .main nav.right ul li a.profile {
    border-radius: 50%;
    background: #334155;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 14px;
}

#spotlight {
    background: #F8FAFC;

}

#spotlight .main {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#spotlight .main .left { 
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 56%;
}

#spotlight .main .left ul.breadcrumb { 
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
}

#spotlight .main .left ul.breadcrumb li { 
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}

#spotlight .main .left ul.breadcrumb li.select {
    color: #2563EB;
}

#spotlight .main .left h2.title { 
    font-size: 40px;
    font-weight: 700;
    color: #0F172A;
}

#spotlight .main .left p { 
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #334155;
}

#spotlight .main .left .rating { 
    display: flex;
    align-items: center;
    gap: 10px;
}

#spotlight .main .left .rating span {
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}

#spotlight .main .left .rating span.star { 
    display: flex;
    align-items: center;
    color: #FEC84B;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
}

#spotlight .main .left .review ul { 
    display: flex;
    align-items: center;
    gap: 8px;
}

#spotlight .main .left .review ul li { 
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}

#spotlight .main .left .review ul li b {
    font-size: 14px;
    font-weight: 400;
    color: #2563EB;
}

#spotlight .main .left .review ul li img { 
    border-radius: 50%;
    width: 40px;
}

#spotlight .main .left .lang ul { 
    display: flex;
    align-items: center;
    gap: 8px;
}

#spotlight .main .left .lang ul li { 
    font-size: 14px;
    font-weight: 400;
}

#spotlight .main .right { 
    background: #fff;
    box-shadow: 0px 0px 8px 0px #3B82F61F;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    position: absolute;
    right: 0;
    top: 40px;
}

#spotlight .main .right .container { 
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

#spotlight .main .right .price ul { 
    display: flex;
    align-items: center;
    gap: 13px;
}

#spotlight .main .right .price ul li { 
    font-size: 24px;
    font-weight: 600;
    color: #0F172A;
}

#spotlight .main .right .price ul li.line { 
    font-size: 18px;
    font-weight: 600;
    opacity: 20%;
    text-decoration: line-through;
}

#spotlight .main .right .price ul .clr {
    font-size: 20px;
    font-weight: 600;
    color: #16A34A;
}

#spotlight .main .right .btn { 
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#spotlight .main .right .btn .btn1 { 
    background: #020617;
    color: #fff;
    padding: 14px 24px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 500;
}

#spotlight .main .right .btn .btn1:hover {
    box-shadow: 0px 4px 16px rgba(3, 19, 41, 0.2);
    transform: translateY(2px);
}

#spotlight .main .right .btn .btn2 { 
    padding: 14px 24px;
    border-radius: 8px;
    border: 1px solid #020617;
    background: none;
    color: #0F172A;
    font-size: 14px;
    font-weight: 500;
}

#spotlight .main .right .btn .btn2:hover {
    box-shadow: 0px 4px 16px rgba(3, 19, 41, 0.2);
    transform: translateY(2px);
}

#spotlight .main .right .bottom { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    border-top: 1px solid #E2E8F0;
    margin-top: 10px;
}

#spotlight .main .right .bottom h4 { 
    font-size: 16px;
    font-weight: 500;
    color: #0F172A;
}

#spotlight .main .right .bottom img {
    height: 48px;
    width: 80%;
}

#description { 
    margin-top: 40px;
    width: 64.5%;
}

#description .tabs { 
    margin-bottom: 30px;
}

#description .tabs ul { 
    display: flex;
    text-align: center;
    gap: 24px;
}

#description .tabs ul li.active { 
    background: #EFF6FF;
    border: none;
}

#description .tabs ul li { 
    border: 1px solid #E2E8F0;
    padding: 18px 21px;
    border-radius: 8px;
    width: 130px;
    font-size: 14px;
    font-weight: 400;
    color: #0F172A;
}

#description .tabs ul li:hover {
    background: #EFF6FF;
    box-shadow: 0px 0px 12px rgba(15, 84, 212, 0.2);
}

#description .courses { 
    margin-bottom: 30px;
    border-top: 1px solid #E2E8F0;
    padding-top: 24px;
}

#description .courses h3 { 
    font-size: 20px;
    font-weight: 600;
    color: #0F172A;
    margin-bottom: 10px;
}

#description .courses p { 
    font-size: 16px;
    font-weight: 400;
    color: #334155;
    line-height: 25px;
}

#description .certi { 
    border-bottom: 1px solid #E2E8F0;
    padding-bottom: 24px;
}

#description .certi h3 { 
    font-size: 20px;
    font-weight: 600;
    color: #0F172A;
    margin-bottom: 10px;
}

#description .certi p { 
    font-size: 16px;
    font-weight: 400;
    color: #334155;
    line-height: 25px;
}

#description .instructor { 
    margin-top: 30px;
}

#description .instructor h3 { 
    font-size: 20px;
    font-weight: 600;
    color: #0F172A;
    margin-bottom: 16px;
}

#description .instructor h2 { 
    font-size: 20px;
    font-weight: 600;
    color: #2563EB;
    margin-bottom: 5px;
}

#description .instructor small { 
    font-size: 16px;
    font-weight: 400;
    color: #334155;
}

#description .instructor .avatar { 
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

#description .instructor .avatar img.profile { 
    border-radius: 50%;
    width: 120px;
}

#description .instructor .avatar ul { 
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#description .instructor .avatar ul li { 
    display: flex;
    align-items: center;
    gap: 8px;
}

#description .instructor .avatar ul li img { 
    width: 20px;
}

#description .instructor p {
    font-size: 16px;
    font-weight: 400;
    color: #334155;
    line-height: 25px;
    border-bottom: 1px solid #E2E8F0;
    margin-top: 16px;
    padding-bottom: 20px;
}

#syllabus { 
    margin: 20px 0;
    width: 64.5%;
}

#syllabus .smain {
    border-bottom: 1px solid #E2E8F0;
    padding-bottom: 20px;
}

#syllabus .smain h3 { 
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #0F172A;
}

#syllabus .smain .table {
    width: 96%;
}

#syllabus .smain .table ul {
    border: 1px solid #E2E8F0;
    border-radius: 8px;
}

#syllabus .smain .table ul li { 
    border-bottom: 1px solid #E2E8F0;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#syllabus .smain .table ul li:hover {
    background: #EFF6FF;
}

#syllabus .smain .table ul li:last-child {
    border-bottom: none;
}

#syllabus .smain .table ul li .left { 
    display: flex;
    align-items: center;
    gap: 16px;
}

#syllabus .smain .table ul li .left h6 { 
    font-size: 18px;
    font-weight: 600;
    color: #0F172A;
}

#syllabus .smain .table ul li .right { 
    display: flex;
    gap: 16px;
}

#syllabus .smain .table ul li .right small { 
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}

#reviews { 
    margin: 20px 0 40px;
}

#reviews h3 { 
    font-size: 20px;
    font-weight: 600;
    color: #0F172A;
    margin-bottom: 24px;
}

#reviews .rmain { 
    display: flex;
    gap: 139px;
}

#reviews .rmain .rleft { 
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 30%;
}

#reviews .rmain .rleft .rtop { 
    display: flex;
    align-items: end;
    gap: 8px;
}

#reviews .rmain .rleft .rtop span { 
    font-size: 20px;
    font-weight: 600;
    color: #334155;
}

#reviews .rmain .rleft .rtop span img { 
    margin-right: 3px;
}

#reviews .rmain .rleft .rtop small { 
    font-size: 14px;
    font-weight: 500;
    color: #334155;
}

#reviews .rmain .rleft ul { 
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#reviews .rmain .rleft ul li { 
    display: flex;
    align-items: center;
    gap: 8px;
}

#reviews .rmain .rleft ul li span { 
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}

#reviews .rmain .rright { 

}

#reviews .rmain .rright ul { 
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 26px;
}

#reviews .rmain .rright ul li { 
    display: flex;
    align-items: start;
    gap: 120px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    padding: 24px;
}

#reviews .rmain .rright ul li:hover {
    transform: translateY(2px);
    box-shadow: 0px 4px 16px rgba(178, 194, 226, 0.2);
    background: #f0f6fd;
}

#reviews .rmain .rright ul li .name { 
    display: flex;
    align-items: center;
    gap: 12px;
    width: 65%;
}

#reviews .rmain .rright ul li .name h5 { 
    font-size: 18px;
    font-weight: 600;
    color: #0F172A;
}

#reviews .rmain .rright ul li .text { 

}

#reviews .rmain .rright ul li .text span.top { 
    display: flex;
    align-items: center;
    gap: 28px;
}

#reviews .rmain .rright ul li .text span.top span { 
    font-size: 18px;
    font-weight: 600;
    color: #334155;
}

#reviews .rmain .rright ul li .text span.top span img { 
    margin-right: 4px;
}

#reviews .rmain .rright ul li .text span.top small { 
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}

#reviews .rmain .rright ul li .text p { 
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #334155;
    line-height: 25px;
}

#reviews .rmain .rright a.button { 
    padding: 12px 24px;
    border: 1px solid #0F172A;
    border-radius: 8px;
    background: #fff;
    color: #0F172A;
    font-size: 14px;
    font-weight: 500;
}

#reviews .rmain .rright a.button:hover {
    box-shadow: 0px 4px 16px rgba(0, 15, 41, 0.2);
}

#testimonials {
    background-color: #f8fafc;
    padding: 60px 0;
}

#testimonials div.top { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#testimonials div.top h2 { 
    font-size: 24px;
    font-weight: 600;
}

#testimonials div.top span.arrow {
    display: flex;
    gap: 8px;
}

#testimonials div.top span.arrow button {
    border: none;
    outline: none;
    background: none;
}

#testimonials div.top span.arrow button img:hover {
    background: #7d8a9c;
    transform: translateY(1px);
}

#testimonials div.top span.arrow button img {
    background: #94A3B8;
    padding: 10px 16px;
    border-radius: 8px;
}

#testimonials div.content { 
    margin-top: 40px;
    width: 100%;
    max-width: 1900px;
    overflow: hidden; 
}

#testimonials div.content ul { 
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 20px;
}

#testimonials div.content ul li { 
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px #3B82F61F;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    width: 30%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#testimonials div.content ul li:hover { 
    transform: translateY(2px);
    box-shadow: 0px 4px 16px rgba(15, 84, 212, 0.2);
}

#testimonials div.content ul li img.quotes { 
    width: 45px;
}

#testimonials div.content ul li p { 
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}

#testimonials div.content ul li div.bottom { 
    display: flex;
    align-items: center;
    gap: 8px;
}

#testimonials div.content ul li div.bottom img { 
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

#testimonials div.content ul li div.bottom span.text h3 { 
    font-size: 18px;
    font-weight: 600;
}

#testimonials div.content ul li div.bottom span.text p { 
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}

#courses {
    margin: 80px 0;
}

#courses .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 40px;
}

#courses .top h2 {
    font-size: 24px;
    font-weight: 600;
    color: #0F172A;
}

#courses .top a {
    font-size: 14px;
    font-weight: 500;
    color: #3B82F6;
}

#courses .citems {
    display: flex;
    justify-content: space-between;
}

#courses .citems .item {
    border: 1px solid #E2E8F0;
    box-shadow: 0px 0px 8px 0px #3B82F61F;
    padding: 16px;
    border-radius: 8px;  
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#courses .citems .item:hover {
    transform: translateY(2px);
    box-shadow: 0px 4px 16px rgba(15, 84, 212, 0.2);
}

#courses .citems .item img.bg {
    width: 100%;
}

#courses .citems .item h3 {
    font-size: 16px;
    font-weight: 600;
    color: #0F172A;
}

#courses .citems .item h6 {
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}

#courses .citems .item span.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

#courses .citems .item span.rating small {
    font-size: 12px;
    font-weight: 600;
    color: #334155;
}

#courses .citems .item p {
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}

#courses .citems .item h5 {
    font-size: 20px;
    font-weight: 600;
    color: #0F172A;
}


footer { 
    background: #1E293B;
    padding: 80px;
}

footer .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

footer .container .left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 38%;
}

footer .container .left p {
    font-size: 14px;
    font-weight: 400;
    color: #CBD5E1;
}

footer .container .right {
    display: flex;
    justify-content: space-between;
    width: 60%;
    gap: 40px;
}

footer .container .right .item {
    display: flex;
    flex-direction: column;
}

footer .container .right .item h3 {
    font-size: 18px;
    font-weight: 600;
    color: #F1F5F9;
    margin-bottom: 15px;
}

footer section.container div.right div.item ul  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer section.container div.right div.item ul li a { 
    color: #CBD5E1;
    font-size: 14px;
    font-weight: 500;
}

footer section.container div.right div.item span.logos a small{ 
    width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    background: url(../assets/social-media.jpg);
}

footer section.container div.right div.item span.logos a:nth-child(2) small{
    background-position: -65px;
}

footer section.container div.right div.item span.logos a:nth-child(3) small{
    background-position: -128px;
}

footer section.container div.right div.item span.logos a:nth-child(4) small{
    background-position: -192px;
}

footer section.container div.right div.item span.logos a:nth-child(5) small{
    background-position: -256px;
}